.git
.gitignore
.DS_Store
.env
.env.*
*.log

/node_modules
/dist
/build
/coverage
/tmp
/.tmp
/.expo
/.venv-img

/android
/ios
/app
/assets
/components
/constants
/context
/credentials
/docs
/hooks
/lib
/services
/shims
/styles
/theme
/types
/utils

hedwig-backend/.env
hedwig-backend/.env.*
hedwig-backend/node_modules
hedwig-backend/dist
hedwig-backend/artifacts
hedwig-backend/cache
hedwig-backend/deployments
hedwig-backend/lib
hedwig-backend/out
hedwig-backend/web-app
hedwig-backend/web-client/node_modules
hedwig-backend/web-client/dist
