NEXT_PUBLIC_API_URL=https://pay.hedwigbot.xyz
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_HEDWIG_USE_MOCK_AUTH=true
NEXT_PUBLIC_HEDWIG_USE_MOCK_DATA=false
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
